<div>
  <button
    type="button"
    class="btn btn-primary btn-lg"
    [disabled]="!contactForm.valid"
    type="button"
    (click)="onClick()"
  >
    Back to List
  </button>
</div>
<div class="container mt-5 roboto-regular mb-5">
  <div class="row">
    <div class="col"></div>
    <div class="col-8">
      <div class="card m-4">
        <div class="text-center header mt-4">Contact Form</div>
        <div class="card-body p-0">
          <div>
            <div [formGroup]="contactForm">
              <div class="row mt-5">
                <div class="col">
                  <div class="mb-3">
                    <label for="name" class="form-label"
                      >First Name<span class="mandatory">*</span></label
                    >
                    <input
                      required="true"
                      type="name"
                      class="form-control form-control-lg"
                      id="name"
                      placeholder="e.g John"
                      formControlName="name"
                    />
                    <div
                      *ngIf="nameFC?.dirty || nameFC?.touched "
                      class="alert-validator mb-3"
                    >
                      <div *ngIf="nameFC?.errors?.['required']">
                        Name is required.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label for="surname" class="form-label"
                      >Last Name<span class="mandatory">*</span></label
                    >
                    <input
                      required="true"
                      type="text"
                      class="form-control  form-control-lg"
                      id="surname"
                      placeholder="e.g Smit"
                      formControlName="surname"
                    />
                    <div
                      *ngIf="surnameFC?.dirty || surnameFC?.touched"
                      class="alert-validator mb-3"
                    >
                      <div *ngIf="surnameFC?.errors?.['required']">
                        Surname is required.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                  <div class="mb-3">
                    <label for="emailAddress" class="form-label"
                      >Email address<span class="mandatory">*</span></label
                    >
                    <input
                      required="true"
                      type="emailAddress"
                      class="form-control form-control-lg"
                      id="emailAddress"
                      placeholder="name@example.com"
                      formControlName="emailAddress"
                    />
                    <div
                      *ngIf="emailAddressFC?.dirty || emailAddressFC?.touched"
                      class="alert-validator mb-3"
                    >
                      <div *ngIf="emailAddressFC?.errors?.['required']">
                        Email is required.
                      </div>
                    </div>
                </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label for="contactNumber" class="form-label"
                      >Phone Number<span class="mandatory">*</span></label
                    >
                    <input
                      required="true"
                      type="number"
                      class="form-control form-control-lg"
                      id="contactNumber"
                      placeholder="980981234"
                      formControlName="contactNumber"
                    />
                    <div
                      *ngIf="contactNumberFC?.dirty || contactNumberFC?.touched"
                      class="alert-validator mb-3"
                    >
                      <div *ngIf="contactNumberFC?.errors?.['required']">
                        Phone number is required.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                  <div class="mb-3">
                    <label for="dob" class="form-label"
                      >Date Of Birth<span class="mandatory">*</span></label
                    >
                    <input
                      required="true"
                      type="date"
                      class="form-control form-control-lg"
                      id="dob"
                      placeholder="01/01/2000"
                      formControlName="dob"
                    />
                    <div
                      *ngIf="dateOfBirthFC?.dirty || dateOfBirthFC?.touched"
                      class="alert-validator mb-3"
                    >
                      <div *ngIf="dateOfBirthFC?.errors?.['required']">
                        Date of Birth is required.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col"></div>
              </div>
            </div>
          </div>
          <div class="d-grid mt-5">
            <button
              type="button"
              class="btn btn-primary btn-lg"
              [disabled]="!contactForm.valid"
              type="button"
              (click)="onClick()"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
<div id='myModal'></div>
