
<div>
    <div [formGroup]="contactForm">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input required type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="surname" class="form-label">Surname</label>
            <input required type="text" class="form-control" id="surname" placeholder="Last Name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input required type="email" class="form-control" id="email" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input required type="number" class="form-control" id="phoneNumber" placeholder="980981234">
        </div>
        <div class="mb-3">
            <label for="dob" class="form-label">Date Of Birth</label>
            <input required type="date" class="form-control" id="dob" placeholder="01/01/2000">
        </div>
        <button type="button" class="btn btn-primary" [disabled]="!contactForm.valid" type="button" (click)="onClick()">Submit</button>
    </div> 
</div>