.header {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 700;
  border-bottom: 1px solid #c8e5ee;
  color: #999191;
}

.top-button {
  margin-left: 10rem;
}

.contact-header {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #999191;
  font-weight: 700;
}

.invalid {
  border-color: red;
}

.card {
  padding: 3rem 5rem 4rem;
  background-color: #f2f2f2;
  border: none;
}

::placeholder {
  color: gray;
  opacity: 0.4; /* Firefox */
}

.form-label {
  font-weight: 100;
  color: #8f8a8a;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
