.solid-colour {
    background-color: gray;
    color: lightgray;
    font-size:40px;
    font-family: 'Roboto';
    position: relative;
    top: 50%;
}

.invalid {
    border-color: red;
  }
  
.contact-book-header {
    position: relative;
    top: 40%;
    left: 15%;
}

.border-gray {
    border: 1px solid #dfdfdf;

}

.pad-inputform {
    padding: 10em 4em 10em;
}

.top-div {
    margin-top:10em;
}